/* NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ecef; /* Changed to white background */
  padding: 10px 5px 15px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.navbar-logo {
  font-family: 'Georgia', serif;
  font-size: 1.8em;
  font-weight: bold;
  color: #2c3e50; /* Changed logo color to match buttons */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-buttons {
  display: flex;
  gap: 20px;
}

.navbar-buttons button {
  background-color: #2c3e50; /* Changed button color */
  border: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 7px;
}

.navbar-buttons button:hover {
  transform: scale(1.1);
  background-color: #34495e; /* Slightly darker on hover */
}

.navbar-icons {
  display: flex;
  gap: 50px;
}

.navbar-icon {
  color: #2c3e50; /* Changed icon color to match buttons */
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar-icon:hover {
  transform: scale(1.2);
  color: #34495e; /* Slightly darker on hover */
}
